.container{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Jost', sans-serif;
  padding: 60px 50px;

  transform: translateZ(0);
}
.main{
  display: flex;
  flex-direction: row;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
  transition: .8s ease-in-out;
  transform: skewX(10deg);

}
#chk{
	display: none;
}
.signup{
	height: 100%;
	transition: .8s ease-in-out;
	background: #F1F7FE;
}
label{
	color: #01e3f8;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 80%;
	height: 20px;
	background: #fff;
	justify-content: center;
	display: flex;
	margin: 20px auto 0 auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.btn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #01e3f8;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.btn:hover{
	background: #6d44b8;
}
.login{
  position: relative;
	background: #F1F7FE;
	transition: .8s ease-in-out;
  transform: translateY(35vh);
}
.login label{
	color: #01e3f8;
	transform: scale(.6);
}


#chk:checked ~ .login{
	transform: translateY(0);
}
#chk:checked ~ .signup{
	transform: translateY(35vh);
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);

}
.bg-red
{
 background: red;
}
.color-red
{
 color: red;
}
.error-text{
  margin: 0 50px;
}
