<div class="container">

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    
    <div class="signup">
      <form #signUpForm="ngForm" (ngSubmit)="SubmitSignUp()">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="Full Name" required minlength="3" [(ngModel)]="signUp.name"
          #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <p *ngIf="name.errors?.['required']" class="color-red error-text">Name is required</p>
          <p *ngIf="name.errors?.['minlength']" class="color-red error-text">Minimum 3 Char is required</p>
        </div>
        <input type="email" name="signUpEmail" id="signUpEmail" placeholder="Email" required minlength="3"
          [(ngModel)]="signUp.email" #signUpEmail="ngModel" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
        <div *ngIf="signUpEmail.invalid && (signUpEmail.dirty || signUpEmail.touched)">
          <p *ngIf="signUpEmail.errors?.['required']" class="color-red error-text">Email is required</p>
          <p *ngIf="signUpEmail.errors?.['pattern']" class="color-red error-text">Email is Not Valid</p>
        </div>
        <input type="password" name="signUpPassword" id="signUpPassword" placeholder="Password" required minlength="6"
          [(ngModel)]="signUp.password" #signUpPassword="ngModel">
        <div *ngIf="signUpPassword.invalid && (signUpPassword.dirty || signUpPassword.touched)">
          <p *ngIf="signUpPassword.errors?.['required']" class="color-red error-text">Password is required</p>
          <p *ngIf="signUpPassword.errors?.['minlength']" class="color-red error-text">Password must have 6 char</p>
        </div>
        <button [disabled]="signUpForm.invalid" [class]="signUpForm.invalid && name.touched ? 'btn bg-red' : 'btn' "
          type="submit">Sign Up</button>

      </form>
    </div>


    <div class="login">
      <label for="chk" aria-hidden="true">Login</label>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <input [(ngModel)]="login.email" type="email" name="email" class="form-control" placeholder="Email" id="email"
          #email="ngModel" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <p *ngIf="email.errors?.['required']" class="color-red error-text">Email is required</p>
          <p *ngIf="email.errors?.['pattern']" class="color-red error-text">Email is Not Valid</p>
        </div>
        <input [(ngModel)]="login.password" type="password" name="pswd" placeholder="Password" id="password"
          #password="ngModel" required minlength="6">
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <p *ngIf="password.errors?.['required']" class="color-red error-text">Password is required</p>
          <p *ngIf="password.errors?.['minlength']" class="color-red error-text">Password must have 6 char</p>
        </div>
        <button [disabled]="loginForm.invalid" [class]="loginForm.invalid && email.touched ? 'btn bg-red' : 'btn' "
          type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
